# dependencies
node_modules/
dev/node_modules/

# Parcel / build caches
.parcel-cache/
dev/.parcel-cache/
.parcel-dev/
dev/.parcel-dev/
node_modules/.cache/
dev/node_modules/.cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
